<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
  <div style="text-align: left; padding-left: 20px;">
    <h3>Welcome to Chatbot-Viet</h3>
    <p>Create a new bot from scratch. You currently have <%= @basicbot.count %> bots.</p>
    <%= link_to new_basicbot_path do %>
    <button type="button" class="btn btn-secondary btn-lg" style="background-color: white; border-color: lightgrey; padding: 35px;">Basic Bot</button>
    <% end %>
  </div>
</div>

<div class="row placeholders">
  <div style="text-align: left; padding-left: 20px;">
    <h3>Your Bot</h3>
    <% @basicbot.each do |bot| %>
    <%= link_to basicbot_path(bot.id) do %>
    <button type="button" class="btn btn-secondary btn-lg" style="background-color: white; border-color: lightgrey; padding: 35px;"><%= bot.name %></button>
    <% end %>
    <% end %>
  </div>
</div>
